.content_wrapper {
  display: flex;
  flex-direction: column;
  width: 97%;
  height: 90vh;
  padding: 0px 20px;

  .setting_wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .filter_wrapper {
      display: flex;
      flex-direction: row;

      .filter {
        padding: 0px 10px;
      }
    }
  }

  .content {
    padding: 20px 0px;

    .item {
      margin: 10px 0px;
      display: flex;
      align-items: center;

      .info_container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .item_info {
        padding: 0px 10px;
      }

      .live_indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}
