.watchList_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .watchList_form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .watchList_items_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 20px 0px;
    padding: 0px;
    width: 25%;
    border: 1px solid #dddcdc;
    border-radius: 10px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px;
      width: 100%;
      transition: ease-out 0.3s;

      .item_text.undone {
        text-decoration: none;
        transition: ease-out 0.3s;
      }

      .done {
        text-decoration: line-through;
        transition: ease-out 0.3s;
      }

      .item_button_container {
        padding: 0px 10px;
        .item_button {
          margin: 0px 10px;
        }
      }

      p {
        padding: 0px 10px;
      }
    }

    li:first-child {
      border-radius: 10px 10px 0px 0px;
    }

    li:last-child {
      border-radius: 0px 0px 10px 10px;
    }

    li:hover {
      transition: ease-out 0.3s;
      background-color: #292929;
      color: white;
    }
  }
}
